<!-- <div class="wrapper" [attr.style]="finallStyle">
    <div class="d-inline-block">
        <h2 class="medium" [ngClass]="{'mb-0': !subTitle}">
            {{title}}
        </h2>
        <h4 *ngIf="subTitle" class="mt-4 mb-0 font-weight-normal">
            {{subTitle}}
        </h4>
    </div>
</div> -->
<div class="hr-sect" [attr.style]="finallStyle">
    <div class="inner-wrapper">
        <h2 class="medium" [ngClass]="{'mb-0': !subTitle}">
            {{title}}
        </h2>
        <h4 *ngIf="subTitle" class="mt-4 mb-0 font-weight-normal">
            {{subTitle}}
        </h4>
    </div>
</div>