$titleColor: #414146;
$titleSize: 1.3em;
$smallTitleSize: 1.1em;
$subtitleColor: #6a6a6a;
$subTitleSize: 0.9em;
$defaultFontSize: 16px;
$darkGray: #6c757d;
$lightGray: #f0f0f5;
// $blue: #4586ff;
$blue: #00b1ca;
$yellow:#ffa900;