<page-header [title]="'تماس با ما'" [background]="'assets/images/bg/contact-us-background-images-4.jpg'" [height]="500"></page-header>
<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <div class="bg-white p-3 shadow-sm bg-white">
        <div class="row">
          <div class="col-md-8 mt-3 mt-md-0">
            <lined-title [lineColor]="'#dcdcdc'" class="d-block mb-4" [title]="'کاریز آتی پرواز'" [titleSize]="18"
              [lineHeight]="6" [lineThickness]="1" [textAlign]="'right'"></lined-title>
            <mat-list role="list" class="pt-0">
              <mat-list-item role="listitem">
                <mat-icon mat-list-icon class="ml-1">location_on</mat-icon>
                <span [ngClass]="'text-dark'">تهران، بزرگراه جلال آل احمد، کوی نصر، خیابان فروزانفر، پلاک 1، طبقه دوم،
                  واحد 6</span>
              </mat-list-item>
              <mat-list-item role="
                    listitem">
                <mat-icon mat-list-icon class="ml-1">phone</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 021 - 88262729</span>
              </mat-list-item>
              <mat-list-item role="
                    listitem">
                <mat-icon mat-list-icon class="ml-1">phone</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 021 - 88263376</span>
              </mat-list-item>
              <mat-list-item role="
                    listitem">
                <mat-icon mat-list-icon class="ml-1">phone_android</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 09394389748</span>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon mat-list-icon class="ml-1">email</mat-icon>
                <span><a href="mailto:info@kariztours.com" [ngClass]="'text-dark'">ايميل
                    : info@kariztours.com</a></span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-md-4 mt-3 mt-md-0">
            <lined-title [lineColor]="'#dcdcdc'" class="d-block mb-4" [title]="'نقشه'" [titleSize]="18"
              [lineHeight]="6" [lineThickness]="1" [textAlign]="'right'"></lined-title>
            <agm></agm>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-white p-3 shadow-sm bg-white">
        <div class="row">
          <div class="col-md-8 mt-3 mt-md-0">
            <lined-title [lineColor]="'#dcdcdc'" class="d-block mb-4" [title]="'ژیوار سفیر نوین'" [titleSize]="18"
              [lineHeight]="6" [lineThickness]="1" [textAlign]="'right'"></lined-title>
            <mat-list role="list" class="pt-0">
              <mat-list-item role="listitem">
                <mat-icon mat-list-icon class="ml-1">location_on</mat-icon>
                <span [ngClass]="'text-dark'">تهران، خیابان آزادی، خیابان اسکندری شمالی، تقاطع غلامرضا طوسی (شباهنگ)،
                  پلاک 116، طبقه دوم</span>
              </mat-list-item>
              <mat-list-item role="
                    listitem">
                <mat-icon mat-list-icon class="ml-1">phone</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 021 - 66433466</span>
              </mat-list-item>
              <mat-list-item role="
                    listitem">
                <mat-icon mat-list-icon class="ml-1">phone</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 021 - 66930045</span>
              </mat-list-item>
              <mat-list-item role="
                    listitem">
                <mat-icon mat-list-icon class="ml-1">phone_android</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 09386699209</span>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon mat-list-icon class="ml-1">email</mat-icon>
                <span><a href="mailto:info@zhivar.com" [ngClass]="'text-dark'">ايميل
                    : info@zhivar.com</a></span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-md-4 mt-3 mt-md-0">
            <lined-title [lineColor]="'#dcdcdc'" class="d-block mb-4" [title]="'نقشه'" [titleSize]="18" [lineHeight]="6"
              [lineThickness]="1" [textAlign]="'right'"></lined-title>
            <agm></agm>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-white p-3 shadow-sm bg-white">
        <div class="row">
          <div class="col-md-8 mt-3 mt-md-0">
            <lined-title [lineColor]="'#dcdcdc'" class="d-block mb-4" [title]="'ژیوار سفیر نوین (شعبه یک)'" [titleSize]="18"
              [lineHeight]="6" [lineThickness]="1" [textAlign]="'right'"></lined-title>
            <mat-list role="list" class="pt-0">
              <mat-list-item role="listitem">
                <mat-icon mat-list-icon class="ml-1">location_on</mat-icon>
                <span [ngClass]="'text-dark'">تهران، بلوار کشاورز، خیابان فلسطین، ساختمان 32، شماره 394، طبقه 2، واحد 8</span>
              </mat-list-item>
              <mat-list-item role="
              listitem">
                <mat-icon mat-list-icon class="ml-1">phone</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 021 - 88960142 </span>
              </mat-list-item>
              <mat-list-item role="
              listitem">
                <mat-icon mat-list-icon class="ml-1">phone</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 021 - 88970164 </span>
              </mat-list-item>
              <mat-list-item role="
              listitem">
                <mat-icon mat-list-icon class="ml-1">phone_android</mat-icon>
                <span [ngClass]="'text-dark'" dir="ltr"> 09394389758</span>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon mat-list-icon class="ml-1">email</mat-icon>
                <span><a href="mailto:o.ghaderi@zhivar.com" [ngClass]="'text-dark'">ايميل
                    : o.ghaderi@zhivar.com</a></span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-md-4 mt-3 mt-md-0">
            <lined-title [lineColor]="'#dcdcdc'" class="d-block mb-4" [title]="'نقشه'" [titleSize]="18" [lineHeight]="6"
              [lineThickness]="1" [textAlign]="'right'"></lined-title>
            <agm></agm>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>