<div class="row mb-5">
  <div class="col-md-4 text-center text-md-right d-flex align-items-center">
    <img routerLink="/blog/details" [queryParams]="{id:post.id}" [src]="post.image" clas="img-thumbnail w-100">
  </div>
  <div class="col-md-8 mt-2 mb-sm-0 d-flex justify-content-center flex-column">
    <!-- <div class="date d-flex align-items-end">
      <span class="day display-4 text-dark">
        {{day}}
      </span>
      <span class="month text-muted h4 mb-3 mr-1 regular">
        {{month}}
      </span>
    </div> -->
    <div class="d-flex align-items-center">
      <h1 class="text-right mb-1 pl-2 medium" routerLink="/blog/details" [queryParams]="{id:post.id}">{{post.title}}</h1>
      <h6 class="text-info mb-1 py-2 pr-2 border-right">{{country}}</h6>
    </div>
    <div class="summary text-muted text-justify light">
      <p> {{post.summary | slice:0:250}} ... </p>
    </div>
  </div>
</div>