<mat-list role="list" class="pt-0">
  <mat-list-item role="listitem" class="mb-2 d-block h-auto">
    <mat-icon mat-list-icon class="ml-1">location_on</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'">
      <span class="light">
        کاریزآتی پرواز :
      </span>
      <span>
        تهران، بزرگراه جلال آل احمد، خیابان
        فروزان فر، پلاک 1
      </span>
    </span>
  </mat-list-item>
  <mat-list-item role="listitem" class="mb-2 d-block h-auto">
    <mat-icon mat-list-icon class="ml-1">location_on</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'">
      <span class="light">
        ژیوار:
      </span>
      <span>
        تهران، خیابان آزادی، خیابان اسکندری شمالی،
        تقاطع طوسی، پلاک 116
      </span>
    </span>
  </mat-list-item>
  <mat-list-item role="listitem" class="mb-2 d-block h-auto">
    <mat-icon mat-list-icon class="ml-1">location_on</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'">
      <span class="light">
        ژیوار-شعبه1:
      </span>
      <span>
        تهران . بلوار کشاورز . خیابان فلسطین . پلاک 394 . طبقه دوم . واحد 8
      </span>
    </span>
  </mat-list-item>
  <mat-list-item role="
      listitem">
    <mat-icon mat-list-icon class="ml-1">phone</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'" dir="ltr">
      <span>شماره تماس : </span>
      <span>88262729 - 021</span>
    </span>
  </mat-list-item>
  <mat-list-item role="
      listitem">
    <mat-icon mat-list-icon class="ml-1">local_printshop</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'" dir="ltr">
      <span>شماره فکس : </span>
      <span> 88263376 - 021</span>
    </span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon class="ml-1">email</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'">
      <span>ايميل :</span>
      <span>
        <a [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'" href="mailto:info@kariztours.com">
          info@kariztours.com
        </a>
      </span>
    </span>
  </mat-list-item>
</mat-list>