<page-header [title]="'شرایط استفاده'" [height]="500"></page-header>
<div class="container">
    <div class="row py-4">
        <div class="col-12">
            <div class="bg-white rounded p-5 shadow">
                <ul>
                    <li>
                        <p>هرگونه تراکنشی که توسط کاربر در سایت صورت می گیرد باید با مشخصات کاربری وی در سایت مطابقت داشته باشد. کاربر اجازه ندارد از حساب های بانکی سایر افراد برای انجام تراکنش های مالی خود در سایت Payment24 استفاده کند و در صورت مشاهده ، مبلغ واریزی توسط Payment24 بلوکه خواهد شد</p>
                    </li>
                    <li>
                        <p>سفارشات باید با اتصال اینترنت اصلی کاربر انجام شود و هرگونه سفارشی که فرد از طریق پراکسی یا وی پی ان و یا سایر مخفی کننده های محل اتصال کاربر به اینترنت ثبت کند غیر قانونی می باشد.</p>
                    </li>
                    <li>
                        <p>Payment24 حق خود می داند هر زمان که نیاز بود از کاربر مدارک شناسایی لازم ( کارت ملی ، شناسنامه ، تلفن ثابت، قبض تلفن ، آدرس و … ) را جهت احراز هویت مطالبه نماید و در صورت عدم همکاری از طرف کاربر مبلغ واریزی را بلوکه کرده و دسترسی کاربر را مسدود نماید.</p>
                    </li>
                    <li>
                        <p>کاربر موظف است قبل از ثبت سفارش “نکات قبل از خرید” و یا توضیحات مربوطه به هر سرویس را بطور کامل مطالعه نماید. در صورت عدم توجه به این نکات و ثبت سفارش ، مشمول بند ۷ خواهد شد.</p>
                    </li>
                    <li>
                        <p>در صورتی که سفارشی بصورت ناقص ثبت شود و یا مشکلی در انجام آن سفارش باشد موضوع از طریق ایمیل/تلفن به کاربر اطلاع داده می شود و کاربر موظف است طی بازه ۴۸ ساعت موضوع را رسیدگی کرده و پاسخ دهد. در صورتی که طی این بازه زمانی پاسخی از طرف کاربر دریافت نگردد سفارش بطور یک طرفه از جانب سایت کنسل شده و مشمول ۱۰٫۰۰۰ تومان جریمه می گردد.</p>
                    </li>
                    <li>
                        <p>در صورتی که سفارشی بصورت ناقص ثبت شود و یا مشکلی در انجام آن سفارش باشد موضوع از طریق ایمیل/تلفن به کاربر اطلاع داده می شود و کاربر موظف است طی بازه ۴۸ ساعت موضوع را رسیدگی کرده و پاسخ دهد. در صورتی که طی این بازه زمانی پاسخی از طرف کاربر دریافت نگردد سفارش بطور یک طرفه از جانب سایت کنسل شده و مشمول ۱۰٫۰۰۰ تومان جریمه می گردد.</p>
                    </li>
                    <li>
                        <p>در صورتيکه پس از انجام پرداخت به هر دليلي آن پرداخت برگشت زده شود و يا مشکل از سمت مقصد باشد ، مبلغ بازگشتي پس از کسر 5 درصد کارمزد و ساير هزينه هاي احتمالي پس از گذشت يک هفته به مشتري عودت داده مي شود. در اين حالت کاربر در صورتي که ريفاند مبلغ را در همان روزي که ريفاند انجام شده است اطلاع دهد ميتواند از موجودي دلاري خود با کسر 7% براي انجام سفارش مشابه استفاده نمايد(به عنوان مثال اگر سفارش پيپال ريفاند شود از موجودي دلاري فقط براي سفارشات پيپال ميتوان استفاده کرد) و در غير اينصورت بصورت ريالي درخواست برگشت دهد که در اين حالت دلار به نرخ خريد سايت (نرخ خريد در تاريخ ريفاند مبلغ)با کاربر محاسبه مي شود. همچنين براي سفارشات کمتر از ۵۰ دلار حداقل مبلغ ۱۰٫۰۰۰ تومان جريمه تعلق خواهد گرفت. در صورتي که حساب پرداخت کننده (پيمنت 24) منقضي، بسته و يا به هر دليلي از دسترس خارج شد، پيمنت 24 هيچ گونه مسئوليتي در قبال وجوه ريفاند شده (برگشت خورده به حساب) نخواهد داشت.</p>
                    </li>
                    <li>
                        <p>در صورت انصراف از سفارش پس از ارسال فرم، مبلغ شما پس از کسر ۱۰٫۰۰۰ تومان جریمه قابل بازگشت می باشد.</p>
                    </li>
                    <li>
                        <p>برگشت وجه و یا تسویه حساب با کاربران در هر حالتی مشمول ۳۰۰۰ تومان کارمزد خواهد شد.</p>
                    </li>
                    <li>
                        <p>آخر هر ماه کلیه حساب های کاربرانی که موجودی آنها در سایت بیش از مبلغ ۲۰٫۰۰۰ تومان باشد تسویه می شود و این تسویه نیز مشمول بند ۵ خواهد شد.</p>
                    </li>
                    <li>
                        <p>انجام درخواستهای پرداختی که از طریق سایت ارسال می شوند، حداقل از یک ساعت تا حداکثر ۴۸ ساعت (با توجه به نوع پرداخت و سرویس مربوطه وعدم برخورد با روزهای تعطیل ) به طول خواهد انجامید.</p>
                    </li>
                    <li>
                        <p>مشتری موظف میباشد تا قبل از خرید ، هرگونه توقعی که از سرویس دارد را با پشتیبانی هماهنگ نماید و از وجود یا عدم وجود آن مطمئن شود. به همین دلیل پس از ارسال سفارش ، تمام مسئولیتها به عهده مشتری خواهد بود و ما هیچ عذری را نخواهیم پذیرفت.</p>
                    </li>
                    <li>
                        <p>ارسال دلار به حساب پیپال منوط به معتبر بودن و وریفای بودن حساب مقصد می باشد و مشتری وظیفه دارد قبل از ارسال فرم از این مورد اطمینان حاصل کند ، در غیر این صورت مسئولیت عواقب آن به عهده مشتری میباشد و در صورت برگشت پول یا سایر مشکلات احتمالی مشتری هیچ حقی برای باز پس گیری وجه خود ندارد.</p>
                    </li>
                    <li>
                        <p>مشتری وظیفه دارد قبل از ثبت سفارش از صحت اعتبار شرکت و یا شخصی که میخواهد برای او دلار ارسال کند مطمئن شود ، در غیر اینصورت مسئولیت عواقب آن بعهده مشتری میباشد و هیچ حقی برای بازپس گیری وجه خود ندارد، و payment24 هیچ مسولیتی در این زمینه نخواهد داشت.</p>
                    </li>
                    <li>
                        <p>پس ثبت سفارش ، کاربر تا حداکثر ۵ دقیقه مهلت دارد تا ما را در جریان انصراف خود قرار دهد. و پس از گذشت این زمان در صورت انجام سفارش، کاربر حق هرگونه اعتراضی را از خود سلب می کند</p>
                    </li>
                    <li>
                        <p>کاربر بایستی قبل از ارسال درخواست خود از مبلغ دقیق سایت مقصد اطمینان حاصل نماید. در صورتیکه پس از پرداخت مبلغ توسط ما، این مبلغ بیش از مقدار ارسالی توسط مشتری باشد ، مشتری موظف است تا مابقی آن را با توجه به قیمت روز موجود در فرم مربوطه به ما پرداخت نماید و تا آن زمان ما بعنوان پرداخت کننده میبایست از ارسال سرویس مورد نظر و یا ارائه مجدد هر سرویسی تا تسویه حساب نهائی اجتناب نمائیم.</p>
                    </li>
                    <li>
                        <p>مشتری وظیفه دارد تا قبل از ثبت سفارش از صحت اطلاعات مهمی نظیر میزان مبلغ پرداختی ، اطلاعات پرداخت و … اطمینان کامل حاصل کند، در غیر اینصورت هیچ راه برگشتی وجود نخواهد داشت و تمام عواقب آن به عهده مشتری میباشد، که بازگشت هزینه به مشتری مشمول قوانین بازگشتی ما + سایت سرویس دهنده میباشد.</p>
                    </li>
                    <li>
                        <p>هنگامی که کاربر سفارشی را در سایت Payment24 ثبت می کند بیانگر این است که وی تمام قوانین و مقررات را مطالعه کرده و پذیرفته است. کاربر مسئول اجرای تمام تعهدات این قرارداد و همچنین رعایت تمام قوانین و مقررات وضع شده می باشد</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>