<page-header [title]="'درباره ما'" [background]="'assets/images/bg/image1060x470.jpg'" [height]="500"></page-header>
<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <div class="bg-white rounded p-5 shadow-sm">
        <p>در سالیان اخیر گروه آژانس‌های مسافرتی ژیوار سفیرنوین و کاریز آتی‌پرواز، به راستی مرزبندی جدیدی برای خدمات و
          تورهای مسافرتی تعریف کرده‌اند و هر روزه با خدمات و مراقبت‌های خود از تک‌تک مراجعان و مهمانان، تجربه‌ای جدید
          از مسافرتی بدون نگرانی و دردسر را برای مخاطبانش به ارمغان می‌آورد. خدمات متفاوت مسیرهای جدید و نو آوری از
          رئوس کاری این گروه است و هر روزه این مرحله خطیر را با عنایت به دانش و آگاهی خویش و در پرتو تجربیات فراوان و
          درک درست توقعات و نیازهای مسافران و شناخت کامل تمامی جزئیات با موفقیت طی می‌نماید.
          شناخت بهتر توقعات و نیازهای واقعی شما ضامن ارائه خدمات بهتر و رضایت بیشتر بوده و از این‌روست که نظرات شما
          بهترین راهنمای ما بوده و می‌باشد؛ نظراتی که با عنایت شما و صرف زمانی اندک کمک شایانی به ما در جلب رضایت شما و
          بهبود هر چه بیشتر خدمات مینماید.</p>
        توانمندی‌ها :
        <ul>
          <li> تورهای ورودی در 15 رده مختلف در تمام سال</li>
          <li>تورهای گردشگری اروپایی با مقاصد کشورهای عضو پیمان شینگن – انگلیس- چین- ژاپن - جنوب شرقی آسیا و خاورمیانه
            و ..</li>
          <li>تورهای تجاری و نمایشگاهی مقصد اروپا به صورت فردی (Vip) گروهی</li>
          <li>تورهای علمی و پزشکی و شرکت درسمینارها و همایش های بین المللی</li>
          <li> رزروشن هتل در سراسر دنیا و ارائه تاییدیه قطعی روی سر برگ هتل جهت ارائه به سفارت جهت انجام رزروشن و صدور
            بلیط هواپیما و بلیط داخلی اروپا</li>
          <li>امکان هماهنگی جهت بازدید از کارخانه یا تولیدی در تمام صنوف در کشورهای اروپایی</li>
          <li>اخذ بیمه بین المللی مفری</li>
          <li>هماهنگی جهت اخذ دعوتنامه تجاری</li>
          <li>امکان همراهی مترجم حرفه ای خصوصی در ملاقاتهای تجاری</li>
          <li> امکان راه اندازی تورهای آموزشی بنا به پیشنهاد مشتری</li>
        </ul>

        خدمات ما :
        <ul>
          <li>اخذ ویزای شینگن</li>
          <li>انجام رزرویشن هتل جهت ارائه به کلیه سفارتخانه های شینگن در تهران</li>
          <li>انجام تاییدیه هتل روی سربرگ هتل با مهر و امضاء جهت ارایه به سفارت های عضو پیمان شینگن</li>
          <li>انجام کلیه پروازهای داخلی اروپا در اسرع وقت از 25 یورو به بالا شامل پروازهای airberlin,easyjet,rayanair
            و...</li>
          <li>تهیه بلیط قطارهای داخلی اروپا به خصوص کشورهای شینگن</li>
          <li>رزرو کشتی های 5 ستاره کروز fullboard از بنادر اروپا به‌ویژه رم، بارسلون و ونیز و...</li>
          <li>رزرو اتومبیل شخصی جهت خانواده های محترم بازرگانان در هر جای اروپا متناسب با ذوق و سلیقه شما</li>
          <li>مشاوره جهت اخذ اقامت اروپا...</li>
        </ul>
      </div>
    </div>
  </div>